<!-- <div *ngFor="let match of matches" class="main">
    <div class="teams">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{match.flag1}} height = "200px" width="400px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">India</h5>
            </div>
          </div>
          <div class="vs">
            <h1 style="font-size: 75px">
              VS
            </h1>
          </div>
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src={{match.flag2}} height = "200px" width="400px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Australia</h5>
              </div>
            </div>
    </div>
</div> -->